<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include("partials/head") %>
</head>

<body>

    <%- include("partials/navigation") %>

    <main class="vh-100 container pt-2 text-center justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas voluptatem nam explicabo obcaecati nisi laborum cumque tempora, maiores assumenda omnis doloribus ducimus sequi esse sapiente, labore temporibus. Vel est ad provident id, quibusdam doloribus, animi quis obcaecati temporibus neque blanditiis corrupti tempore cumque, ab officiis illum. Dolorum veniam quae commodi sint obcaecati officia nesciunt neque est ipsa laborum atque totam laboriosam optio cum ut explicabo quasi, beatae quos incidunt vel quam in saepe quod debitis! Odio iste sequi numquam labore, ipsam velit debitis illum fuga aliquam exercitationem qui a ducimus aliquid provident iure incidunt? Voluptatum dignissimos animi nulla facere autem veniam, corporis iusto esse deleniti ipsam quam doloremque mollitia, unde beatae! Ratione, pariatur nemo repudiandae illo natus harum, magni nam quae quam libero molestias alias commodi omnis esse error a delectus tempore quisquam possimus! Accusantium aperiam incidunt corporis! Suscipit provident dignissimos fugit blanditiis magni exercitationem ut, reprehenderit dolore dolorem similique ipsam autem cupiditate nam odit, consequatur dolor doloribus! Consequatur, sequi impedit ipsum quod, architecto modi corrupti numquam quisquam vero animi labore quia aliquam quibusdam nostrum eaque minus qui provident dicta ipsam officia. Temporibus quos architecto voluptas corporis consectetur quas voluptate earum, vero, molestias ea, quidem expedita nobis maxime ipsum aspernatur?</p>
        </section>
    </main>
</body>

</html>